<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddPersonServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPersonServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPersoServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SearchPersoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPartialListServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetPartialListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePersonServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemovePersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListSizeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetListSizeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPersonServlet</servlet-name>
        <url-pattern>/AddPersonServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPersonServlet</servlet-name>
        <url-pattern>/EditPersonServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPersoServlet</servlet-name>
        <url-pattern>/SearchPersoServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListServlet</servlet-name>
        <url-pattern>/GetListServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPartialListServlet</servlet-name>
        <url-pattern>/GetPartialListServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePersonServlet</servlet-name>
        <url-pattern>/RemovePersonServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListSizeServlet</servlet-name>
        <url-pattern>/GetListSizeServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
